{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Page de l'équipe {{equipe.getNom}} {% endblock %}

{% block content %} 
    <div id="page-equipe-index">
        <h1>Equipe : {{equipe.getNom}}</h1>

        {# Messages - (Notice, Erreur) #}
        {% include 'WebMetaCommonBundle:Default:message.html.twig' %}

        <div class="presentation-equipe col-md-12">
            <h3>Présentation</h3>
            <p>{{equipe.getPresentation}}</p>
        </div>

        <div class="membre-equipe col-md-12">
            {# Liste des leaders de l'équipe #}  
            <h3>Liste des membres de l'équipe</h3>
            <div class="leader-equipe">
                <ul>
                    {% for leader in liste_leader %}
                        <li>- <img src="{{ asset('bundles/webmetacommon/images/leader.jpg')}}" alt="Leader" style="width:20px;"/><a href="{{ path('compte_view', {id:leader.getId})}}" title="Voir la page de {{leader.getPseudo}}">{{leader.getPseudo}}</a></li>
                    {% endfor %}
                </ul>
            </div>
                
            {# Liste des membres de l'équipe #}    
            <div class="membre-equipe">
                <ul>
                    {% for membre in liste_membre %}
                        <li>
                            - <a href="{{ path('compte_view', {id:membre.getId})}}" title="Voir la page de {{membre.getPseudo}}">{{membre.getPseudo}}</a>
                            {# Passage des droits (devenir leader) #}    
                            {% if is_leader %}
                                - <a href="{{ path('equipe_devenir_leader', {id_equipe:equipe.getId, id:membre.getId})}}" onclick="return confirm('Accorder les droits de leader à {{membre.getPseudo}} ?');" title="Faire de ce membre un leader"> Donner les droits de leader </a>   
                            {% endif %}    
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# Si le membre est leader #}
        {% if is_leader %}
            <div class="membre-equipe-attente col-md-12">
                <h3>Liste des membres qui souhaitent rejoindre l'équipe</h3>
                {% if nb_membre_attente > 0 %}
                    <ul>
                        {% for membre_attente in liste_membre_attente %}
                            <li>- <a href="{{ path('compte_view', {id:membre_attente.getId})}}" title="Voir la page de {{membre_attente.getPseudo}}">{{membre_attente.getPseudo}}</a> 
                                - <a href="{{ path('equipe_recrutement', {id_equipe:equipe.getId, id_compte:membre_attente.getId, accept:"allow"})}}" title="Accepter">Accepter</a> / 
                                <a href="{{ path('equipe_recrutement', {id_equipe:equipe.getId, id_compte:membre_attente.getId, accept:"deny"})}}" title="Refuser">Refuser</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <i>Aucun membre en attente de recrutement</i>
                {% endif %}
            </div>
        {% endif %}
        
    </div>    
{% endblock %}

{% block sidebar %} 
    <h1>Menu</h1>
    <ul>
        {% if is_membre or is_leader %}
            {% if nb_membre > 1 %}
                <li><a href="{{ path('equipe_quit', {id_equipe:equipe.getId}) }}" title="Quitter l'équipe : {{equipe.getNom}}" onclick="return confirm('Etes-vous sur de vouloir quitter cette équipe ?');">Quitter l'équipe</a></li>
                {% else %}
                <li><a href="{{ path('equipe_quit', {id_equipe:equipe.getId, last:true}) }}" title="Quitter l'équipe : {{equipe.getNom}}" onclick="return confirm('Attention ! vous êtes le dernier membre, quitter l\'équipe la supprimera également, êtes-vous sûr ? ');">Quitter l'équipe {{equipe.getNom}}</a></li>
                {% endif %}
            {% else %}
            <li><a href="{{ path('equipe_postuler', {id_equipe:equipe.getId}) }}" title="Postuler : {{equipe.getNom}}" onclick="return confirm('Etes-vous sur de vouloir postuler pour l\'équipe {{equipe.getNom}}  ?  ');">Postuler</a></li>
            {% endif %}

    </ul>
{% endblock %}
