{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Compte de {{compte.getPseudo}}{% endblock %}

{% block content %} 
<div id="page-compte-index">
    <h1>Compte : {{compte.getPseudo}}</h1>
    
    {# Messages - (Notice, Erreur) #}
    {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
    
    <div class="avatar-compte col-md-2">
        {% if compte.getAvatar is null %}
            <div class="avatar-img col-md-12"><img src="{{ asset('avatar/default_avatar.png')}}" alt="Mon avatar" /></div>
        {% else %}
            <div class="avatar-img col-md-12"><img src="{{ asset('avatar/')}}{{compte.getAvatar}}" alt="Mon avatar" /></div>
        {% endif %}
            {% if user_connected %}
                <p class="avatar-link"><a href="{{ path('compte_modification_avatar') }}" title="Modifier mon avatar">Modifier mon avatar</a></p>
            {% endif %}
    </div>
    
    <div class="information-compte col-md-10">
        <h3>Informations</h3>
        {% if user_connected %}
            <p><a href="{{ path('compte_modification') }}" title="Modifier mes information">Modifier</a></p>
        {% endif %}
        <ul>
            <li><strong>Email</strong> : {{compte.getEmail}}</li>
            <li><strong>Nom</strong> : {{compte.getNom}}</li>
            <li><strong>Prénom</strong> : {{compte.getPrenom}}</li>
            <li><strong>Date de naissance</strong> : {{compte.getDateNaissance|date('d-m-Y')}}</li>
            <li><strong>Inscrit depuis le</strong> : {{compte.getDateInscription|date('d-m-Y')}}</li>
            <li><strong>Ma description</strong> : <br/> {{compte.getDescription}}</li>
        </ul>
    </div>
    <div class="clear"></div>
    
    {% if user_connected %}
        <div class="demandes-compte col-md-12">
            <h3>Mes demandes en attente</h3>
            <ul>
            {% for demande in liste_demande %}
                <li><a href="{{ path('equipe_view', {id:demande.getId}) }}" title="Voir l'équipe  {{ demande.getNom }}"> {{ demande.getNom }}</a> - <i>En attente </i></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>    
 {% endblock %}


{% block sidebar %} 
<h1>Menu</h1>
<ul>
    <li><a href="{{ path('equipe_liste') }}" title="Afficher la liste des équipes" />Liste des équipes</a></li>
</ul>

<h3>Equipes</h3>

<ul>
{% for equipe in liste_equipe %}
    <li><a href="{{ path('equipe_view', {id:equipe.getId}) }}" title="Voir l'équipe  {{ equipe.getNom }}"> {{ equipe.getNom }}</a></li>
{% endfor %}
</ul>
{% if user_connected %}
    <ul>
        <li><a href="{{ path('equipe_creation') }}" title="Créer une équipe" />Créer une équipe</a></li>
    </ul>
{% endif %}

{% endblock %}
