{{ form_start(form, {'action': path('login'), 'method': 'POST'}) }}
    {{ form_errors(form) }}

    <div>
        {{ form_errors(form.login) }}
        {{ form_widget(form.login) }}
    </div>

    <div>

        {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
    </div>

{{ form_end(form) }}