{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Modification du mot de passe {% endblock %}

{% block content %} 
<div id="page-compte-index">
    <h1>Modification du mot de passe</h1>
    {# Messages - (Notice, Erreur) #}
    {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
    
    {{ form_start(form, {'action': path("compte_modification_password_validation"), 'method': 'POST'} ) }}
        {{ form_errors(form) }}

        <div>
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>

    {{ form_end(form) }}

    
<p><a href="#" onclick="window.history.back();" title="">Retour</a></p>
    
</div>    
 {% endblock %}



