<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        {% block stylesheet %} 
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/reset.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/bootstrap/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/reset_bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/structure.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/form.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/styleTest.css') }}" />
        {% endblock %}
        {# CSS particulier #}
        {% block stylesheet_extend %}{% endblock %} 
        {# Scripts particulier #}
        {% block script_extend %}{% endblock %}     
        <title>{% block title %} WebMeta {% endblock %}</title>
    </head>

    <body>
        {# Header #}
        {% block header %} 
            {# Inclusion du template - Menu Horizontal  #}
            {{ include ('WebMetaCommonBundle:Structure:header.html.twig') }}
        {% endblock %}

        {# Menu Horizontal du site #}
        {% block menu_h %} 
            {# Inclusion du template - Menu Horizontal  #}
            {{ include ('WebMetaCommonBundle:Structure:menu_h.html.twig') }}
        {% endblock %}

        {# Contenu de la page #}
        {% block content_center %}
            {# Page #}   
            <div id="content_page" class="col-md-12">
                <section id="content" class="col-md-10">
                    {% block content %} {% endblock %}
                </section>  
                {# Menu de droite #}    
                <section id="sidebar" class="col-md-2">
                    {% block sidebar %} {% endblock %}
                </section>
            </div>    
            <div class="clear"></div>
        {% endblock %}

        {# Footer #}  
        {% block footer %}
            {# Inclusion du template - Footer #}
            {{ include ('WebMetaCommonBundle:Structure:footer.html.twig') }}
        {% endblock %}

        {# Inclusion des scripts (js) #}  
        {% block script %}
            <script src="{{ asset('bundles/webmetacommon/js/jquery-1.11.0.js') }}"></script>
            <script src="{{ asset('bundles/webmetacommon/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>