<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        {% block stylesheet %} 
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/reset.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/bootstrap/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/reset_bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/general.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/style.css') }}" />
        {% endblock %}
        {# CSS particulier #}
        {% block stylesheet_extend %}{% endblock %} 
        {# Scripts particulier #}
        {% block script_extend %}{% endblock %}     
        <title>{% block title %} WebMeta {% endblock %}</title>
    </head>

    <body>
        {# Header #}
        {% block header %} 
        <header id="header">
            <h1 class="h1-header">WebMeta</h1>
        </header> 
        {% endblock %}

        {# Menu Horizontal du site #}
        {% block menu_h %} 
        <section id="menu_h" class="row">
            <div class="col-md-6">
                <ul class="nav nav-pills">
                    <li class="{% if app.request.attributes.get('_route') == 'common_homepage' %}actif{% endif %}"><a href="{{ path('common_homepage') }}" title="Accueil du site">Accueil</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'common_documentation' %}actif{% endif %}"><a href="{{ path('common_documentation') }}" title="Documentation">Documentation</a></li>    
                    <li class="{% if app.request.attributes.get('_route') == 'common_tutoriels' %}actif{% endif %}"><a href="{{ path('common_tutoriels') }}" title="Tutoriels">Tutoriels</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'common_faq' %}actif{% endif %}"><a href="{{ path('common_faq') }}" title="Questions">FAQ</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'common_contact' %}actif{% endif %}"><a href="{{ path('common_contact') }}" title="Formulaire de contact">Contact</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'common_creation' %}actif{% endif %}"><a href="{{ path('page_creation') }}" title="Formulaire de création d'une page">Créer une page</a></li>
                </ul>
            </div>
            <div class="form-connexion col-md-5">
                Form login TODO
            </div>

            <div class="col-md-1">
                <a href="{{ path('compte_creation') }}" title="Accueil du site">S'inscrire</a>
            </div>
        </section>    
        {% endblock %}

        {# Contenu de la page #}
        {% block content_center %}
            {# Page #}   
            <div id="content_page" class="col-md-12">
                <section id="content" class="col-md-10">
                    {% block content %} {% endblock %}
                </section>  
                {# Menu de droite #}    
                <section id="sidebar" class="col-md-2">
                    {% block sidebar %} {% endblock %}
                </section>
            </div>    
            <div class="clear"></div>
        
        {% endblock %}

        {# Footer #}  
        {% block footer %}
            <footer id="footer">
                <div class="container">
                    <div class="block-footer col-md-4">
                        <h3>One list</h3>
                        <ul>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                        </ul>
                    </div>

                    <div class="block-footer col-md-4">
                        <h3>One list</h3>
                        <ul>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                        </ul>
                    </div>

                    <div class="block-footer col-md-4">
                        <h3>One list</h3>
                        <ul>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                            <li><a href="" title="">Link test</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>

                </div>

                <div id="bottom-bar">
                    <ul>
                        <li><a href="" title="">Link test</a></li>
                        <li><a href="" title="">Link test</a></li>
                        <li><a href="" title="">Link test</a></li>
                        <li><a href="" title="">Link test</a></li>
                    </ul>
                </div>
            </footer> 
        {% endblock %}

        {# Inclusion des scripts (js) #}  
        {% block script %}
            <script src="{{ asset('bundles/webmetacommon/js/jquery-1.11.0.js') }}"></script>
            <script src="{{ asset('bundles/webmetacommon/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>