{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/warbot.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %} 
    <div id="page-warbot-home">
        <h1>Warbot</h1>
        <p>
            Warbot est à la fois un jeu et une plate-forme d'évaluation et d'analyse de techniques de coordination entre agents, dans une situation de compétition où deux équipes de "robots" s'affrontent pour tuer la base de l'adversaire. Dans ce projet, les joueurs sont en fait les développeurs des agents... 
        </p>
        <img src="{{ asset('bundles/webmetacommon/images/warbot.jpg') }}" alt="warbot bg" class="col-md-6"/>
        <img src="{{ asset('bundles/webmetacommon/images/warbot.png') }}" alt="warbot screen" class="col-md-6"/>
    </div>
{% endblock %}

{% block sidebar %} 
    <h1>Menu</h1>

    <ul>
        <li> <a href="{{ path('warbot_documentation') }}" title="Documentation de Warbot"/>Documentation - Warbot</a></li>
        {% for page in liste_page %}
            <li><a href="{{ path('page_view', {'id': page.getId, 'url_alias': page.getUrlAlias, 'nom_categorie': page.getNomCategorie|lower|replace({ (' '): '' })}) }}" title="{{page.getNomLien}}"/>{{page.getNomLien}}</a></li>
        {% endfor %}
    </ul>
    
    <h3>Tournois </h3>
    <ul>
        {% if user_connected  %}
            <li><a href="{{ path('tournoi_warbot') }}" title="Accéder à la liste des tournois">Liste des tournois</a></li>
        {% endif %}
    </ul>
{% endblock %}