{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/metaciv.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Accueil Metaciv {% endblock %}

{% block content %} 
    <div id="page-metaciv-home">
        <h2>TODO : </h2>
        <ul>
            <li>- Page d'accueil Metaciv</li>
            <li>- Vidéo de démo</li>
            <li>- Texte de présentation</li>
        </ul>
    </div>
{% endblock %}

{% block sidebar %} 
    <h1>Menu</h1>
    <ul>
        {% for page in liste_page %}
            <li> <a href="{{ path('page_view', {'id': page.getId, 'url_alias': page.getUrlAlias, 'nom_categorie': page.getNomCategorie|lower|replace({ (' '): '' })}) }}" title="{{page.getNomLien}}"/>{{page.getNomLien}}</a></li>
        {% endfor %}

    </ul>

    <h3>Documentation </h3>
    <ul>
        <li> <a href="{{ path('metaciv_documentation') }}" title="Documentation de Metaciv"/>Documentation - Metaciv</a></li>
    </ul>
{% endblock %}