{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/metaciv.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Accueil Metaciv {% endblock %}

{% block content %} 
    <div id="page-metaciv-home">
        <h1>Metaciv</h1>
        <p>
            MetaCiv est framework de modélisation de sociétés humaines (ou virtuelles) utilisant la technique des SMA dans lesquelles l’espace, la culture et la structure sociale jouent un rôle important... 
        </p>
        <img src="{{ asset('bundles/webmetacommon/images/metaciv.jpg') }}" alt="Metaciv bg " class="col-md-6"/>
        <img src="{{ asset('bundles/webmetacommon/images/metaciv.png') }}" alt="Metaciv screen" class="col-md-6"/>
    </div>
{% endblock %}

{% block sidebar %} 
    <h1>Menu</h1>
    <ul>
        {% for page in liste_page %}
            <li> <a href="{{ path('page_view', {'id': page.getId, 'url_alias': page.getUrlAlias, 'nom_categorie': page.getNomCategorie|lower|replace({ (' '): '' })}) }}" title="{{page.getNomLien}}"/>{{page.getNomLien}}</a></li>
            {% endfor %}
    </ul>

    <h3>Documentation </h3>
    <ul>
        <li> <a href="{{ path('metaciv_documentation') }}" title="Documentation de Metaciv"/>Documentation - Metaciv</a></li>
    </ul>
{% endblock %}