{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/warbot.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %}
    <div id="page-warbot-gestion">
        <center><h1>{{ tournoi.getNom }}</h1></center>
        <h1>rencontres</h1>
        {% block rencontres %}
        {% if tournoi.getStatut == "pret" %}
                <a href="{{ path('tournoi_coupe', {'id': tournoi.getId,'phase':'pool','admin':'false'}) }}" title="tournoi"/>tableau des rencontres</a>
            {% elseif tournoi.getStatut == "enAttente" %}
                <p>grille non disponible, il n'y a pas assez d'équipes</p>
            {% else %}
        {% endif %}
        {% endblock %}

        <h1>liste des participants</h1>
               <ul>
                {% for team in liste_team %}
                    <li>{{ team.getNom()}}</li>
                {% endfor %}
               </ul>
        {% if liste_team|length <8 %}
            {# Messages - (Notice, Erreur) #}
            {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
            {{ form(formInvitation) }}
        {% endif %}


    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}