{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% form_theme formInvitation "WebMetaCommonBundle:Tournoi:form.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/warbot.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %}
    <div id="page-warbot-gestion">
        <center><h1>{{ tournoi.getNom }}</h1></center>
        <h1>rencontres</h1>
        {% block rencontres %}
        {% if tournoi.getStatut == "pret" %}
                {% if admin=='true' %}
                    <a href="{{ path('tournoi_coupe', {'id': tournoi.getId,'phase':'pool','admin':'true'}) }}" title="tournoi">tableau des rencontres</a>
                {% else %}
                    <a href="{{ path('tournoi_coupe', {'id': tournoi.getId,'phase':'pool','admin':'false'}) }}" title="tournoi">tableau des rencontres</a>
                {% endif %}
        {% elseif tournoi.getStatut == "enAttente" %}
                <p>grille non disponible, il n'y a pas assez d'équipes</p>
        {% else %}
        {% endif %}
        {% endblock %}

        <h1>liste des participants</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-4 struct">
               <table width="80%" height="100%">
                <tr>
                <th>nom<th>description<th>membres de l'équipe
                </tr>
                {% for team in liste_team %}
                    <tr><td>{{ team.getNom()}}</td><td>{{ team.getPresentation()}}</td>
                        <td>
                            {% if loop.index <liste_team |length%}
                                {% for membre in membreEquipe[loop.index] %}
                                    {{membre.getPseudo()}}<br/>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                        {% if admin=="true" %}
                            <a href="{{ path('tournoi_supression_equipe', {'idTournoi':tournoi.getId,'idTeam':team.getId}) }}" title="tournoi">supprimer</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
               </table>
             </div>
            </div>


        {% if liste_team|length <8 and admin=="true"%}
        <h3>ajouter des équipes</h3>
            {{ form(formInvitation) }}
        {% endif %}
        {# Messages - (Notice, Erreur) #}
        {% include 'WebMetaCommonBundle:Default:message.html.twig' %}


    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}