{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Warbot {% endblock %}

{% block content %}
    <div id="page-warbot-gestion">
        <center><h1>{{ tournoi.getNom }}</h1></center>
        <h1>rencontres</h1>
                <ul>
                {% for match in liste_match %}
                    <li>{{ match.getIdEquipe1 }} vs {{ match.getIdEquipe2 }}</li>
                {% endfor %}
                </ul>
        <h1>liste des participants</h1>
               <ul>
                {% for team in liste_team %}
                    <li>{{ team.getIdInvite }}</li>
                {% endfor %}
               </ul>
        {{ form(formInvitation) }}
    </div>

{% endblock %}

{% block sidebar %}

{% endblock %}