{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block stylesheet_extend %}
    <link rel="stylesheet" href="{{ asset('bundles/webmetacommon/css/warbot.css') }}" />
{% endblock %}   

{% block title %} WebMeta - Liste des tournois Warbot {% endblock %}

{% block content %}
<div id="page-warbot-tournoi">
    <h1>Liste des tournois Warbot</h1>
    
    <h3>Publiques</h3>
    <ul>
        {% for tournoi in liste_tournoi %}
            <li><a href="{{ path('tournoi_gestion', {'id': tournoi.getId}) }}" title="{{tournoi.getNom}}"/>{{tournoi.getNom}} {{ tournoi.getDate.format('d/M/Y') }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block sidebar %}
    <h1>Menu</h1>
    <ul>
        <a href="{{ path('tournoi_creation') }}" title="Créer un tournoi Warbot">Créer un tournoi</a>
    </ul>
    <h3>Documentation </h3>
{% endblock %}