{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Metaciv {% endblock %}

{% block content %}
<div id="page-warbot-tournoi">
    <h1>Tournoi warbot</h1>
    <h2>liste des tournois</h2>
    <ul>
        {% for tournoi in liste_tournoi %}
            <li><a href="{{ path('tournoi_gestion', {'id': tournoi.getId}) }}" title="{{tournoi.getNom}}"/>{{tournoi.getNom}} {{ tournoi.getDate.format('d/M/Y') }}</a>  <a href="{{ path('tournoi_suppression', {'id': tournoi.getId}) }}">supprimer</a></li>
        {% endfor %}
    </ul>
    <h2>liste des tournois publiques</h2>
</div>
{% endblock %}


{% block sidebar %}
    <h1>Menu</h1>
    <ul>
        <a href="{{ path('tournoi_creation') }}" title="creerTournoi">creerTournoi</a>
    </ul>
    <h3>Documentation </h3>
{% endblock %}