{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Liste des messages {% endblock %}

{% block content %} 
<div id="page-message-liste">
    <h1>Liste des messages</h1>
    
    {# Messages - (Notice, Erreur) #}
    {% include 'WebMetaCommonBundle:Default:message.html.twig' %}
    
    <div class="liste-message col-md-12">
        
        <table>
            <tr class='head'>
                <td>Titre</td>
                <td>Expéditeur</td>
                <td>Date d'expédition</td>
                <td>Statut</td>
                <td>Action</td>
            </tr>
            
            {% if liste_message|length > 0 %}
                {% for message in liste_message %}
                <tr class={{message.getStatut}}>
                    <td><a href="{{ path('message_view', {id:message.getId}) }}" title="Voir le détail du message"> {{ message.getTitre|truncate(50) }}</a></td>
                    <td>{{message.getIdExpediteur}}</td>
                    <td>{{message.getDateExpedition|date('d-m-Y H:i:s')}}</td>
                    <td>{{message.getStatut}}</td>
                    <td><a href="{{ path('message_suppression', {id:message.getId}) }}" title="Supprimer le message" onclick="return confirm('Etes-vous sur de vouloir supprimer le message ?');"><img src="{{ asset('bundles/webmetacommon/images/corbeille.png')}}" alt="corbeille" /></a></td>
                </tr>
                {% endfor %}
            {% else %}    
                <tr><td colspan="5"><i>Aucun message</i></td></tr>
            {% endif %}
            
        </table>
    </div>

</div>    
 {% endblock %}

{% block sidebar %} 
<h1>Menu</h1>
<ul>

        
</ul>
{% endblock %}
