{% extends "WebMetaCommonBundle::layout.html.twig" %}

{% block title %} WebMeta - Message {% endblock %}

{% block content %} 
    <div id="page-view-message">
        <h1>{{message.getTitre}}</h1>
        <p>le : <em><b>{{message.getDateExpedition|date('d-m-Y H:i:s')}}</b></em> de : <b>{{message.getIdExpediteur}}</b></p>
        <p class="content-message">{{message.getContenu | raw}}</p>
        <p class="link-retour"><a href="{{ path('message_liste') }}"  title="Retour à la liste des messages">Retour à la liste des messages</a></p>
    </div>
 {% endblock %}

{# Sidebar vide #}
{% block sidebar %} 
    <h1>Menu</h1>
    <ul>
        <li><a href="{{ path('message_suppression', {id:message.getId}) }}" title="Supprimer le message" onclick="return confirm('Etes-vous sur de vouloir supprimer le message ?');">Supprimer le message</a></li>
    </ul>
{% endblock %}
